body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
  color: #fff;
}

header {
  width: 100%;
  background-color: #222;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 20px;
}

#head {
  display: flex;
  align-items: center;
  gap: 80px;
  width: 100%;
  justify-content: space-between;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ffa500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: 18px;
}

.scoreDiv,
.title,
.levelDiv {
  text-align: center;
}

.scoreDiv h3,
.levelDiv h3 {
  background-color: #444;
  padding: 5px 10px;
  border-radius: 8px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  text-align: center;
  margin: 50px 0;
  background-color: #222;
}

.sqr {
  width: 5%;
  aspect-ratio: 1/1;
  border: 0.01px solid white;
  font-size: 64px;
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #555;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #777;
}

#start {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffa500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#start:hover {
  background-color: #cd8500;
}

#game-over {
  display: none;
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body#game-over-body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2b;
  color: white;
  font-family: Arial, sans-serif;
}

#instructions {
  max-width: 1000px;
  background-color: #222;
  border-radius: 15px;
  padding: 25px 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  border: 1px solid #747474;
  max-height: 590px;
}

#instructions h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #ffa500;
}

#instructions h3 {
  font-size: 1rem;
  margin: 20px 0 10px;
  color: #ff6666;
  text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 10px 0;
  font-size: 0.9rem;
  padding-left: 20px;
  position: relative;
}

ul li::before {
  content: '• ';
  position: center;

  color: #ffcc00;
}

button {
  background-color: #ff6666;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff4444;
}

p {
  text-align: center;
}

#home {
  background-color: #cba200;
}

#home:hover {
  background-color: #a48400;
}
